<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="master::head"></th:block>
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" th:href="@{/css/forgotpassword.css}"
          href="../static/css/forgotpassword.css"/>
    <script language="JavaScript" src="../static/js/forgotpassword.js" th:src="@{/js/forgotpassword.js}"></script>
</head>
<body>
<nav th:replace="master::header"></nav>
<div th:replace="master::modal_contact"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="panel panel-default">
                <div class="panel-heading">Thay đổi mật khẩu</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="POST" id="form-resetpassword"
                          th:action="@{/forgotpassword}">
                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Mật khẩu mới</label>
                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control"
                                       name="password" value="" required="true" autofocus="true"/>
                                <span class="help-block"> <strong></strong></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Nhập lại Mật khẩu</label>
                            <div class="col-md-6">
                                <input id="confirm_password" type="password" class="form-control"
                                       name="confirm_password" value="" required="true" autofocus="true"/>
                                <span class="help-block"> <strong></strong></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-6">
                                <button type="submit" class="btn btn-primary">Xác nhận
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>