<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="master::head"></th:block>
    <title>Create your post</title>
    <link rel="stylesheet" th:href="@{/css/write.css}"
          href="../static/css/write.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css"/>
    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet"
          type="text/css"/>

</head>
<body>
<nav th:replace="master::header"></nav>
<div th:replace="master::modal_contact"></div>
<div class="container">
	<div class="row">
	<div th:if="${error}"
					class="row alert alert-danger alert-dismissible">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<center>
						<span><strong>Lỗi:</strong></span><span th:text="${error}"></span>
					</center>
				</div>
	</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Viết bài mới</div>
                <div class="panel-body">
                    <form id="form-post" role="form" data-toggle="validator" class="form-horizontal" method="POST" action="/post"
                          th:action="@{/post}" th:object="${post}">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <input th:field="*{title}" id="form-post-title" type="text" placeholder="Title"
                                       class="form-control" name="title" value="" required="true"
                                       autofocus="true"/>
                                <span class="help-block"> <strong></strong></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <input th:field="*{imageCover}" id="form-post-image-cover" type="text" placeholder="Image Conver"
                                       class="form-control" name="image-cover" value="" required="true" autofocus="true"/>
                                <span class="help-block"> <strong></strong></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input id="tag" type="text" placeholder="Tag"
                                       class="form-control" name="tag" value="" required="true"/>
									<span class="help-block"> <strong></strong>
									</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <textarea id="form-post-content" th:field="*{content}"></textarea>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="center">
                                <button id="btnSubmit" type="submit" class="btn btn-primary">Đăng bài</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="master::footer"></footer>
<!-- Include external JS libs. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

<!-- Include Editor JS files. -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" th:src="@{/js/post.js}" src="../static/js/post.js"></script>
<!-- Initialize the editor. -->
<script> $(function () {
    $('textarea').froalaEditor()
}); </script>
</body>
</html>