<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="master::head"></th:block>
    <link th:href="@{/css/updateprofile.css}" rel="stylesheet" type="text/css"/>
    <title>Setting</title>
</head>
<body>
<nav th:replace="master::header"></nav>
<div th:replace="master::modal_contact"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <th:block th:replace="setting::setting-menu"></th:block>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-2">
                    <b style="font-size: 20px">Profile</b>
                </div>
                <div class="col-lg-10">
                    <div class="horizontal-line"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="avatar">
                        <img th:src="@{${user.avatar}}"/>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form role="form" id="form-update" data-toggle="validator" class="form-horizontal" method="POST"
                          th:action="@{/setting/profile}" th:object="${user}" enctype="multipart/form-data">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">Tên</label>
                            <div class="col-md-6">
                                <input th:field="*{name}" id="name" type="text" placeholder="name"
                                       class="form-control" name="name" value="" required="true"
                                       autofocus="true"/> <span class="help-block"> <strong></strong>
									</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">Địa
                                chỉ email</label>

                            <div class="col-md-6">
                                <input th:field="*{email}" id="email" type="email" placeholder="email"
                                       class="form-control" name="email" value="" disabled="true"/>
									<span class="help-block"> <strong></strong>
									</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="file" class="col-md-4 control-label">Tải lên ảnh đại diện</label>
                            <div class="col-md-6">
                                <input id="file" type="file" accept="image/*"
                                       class="form-control" name="file" value=""/>
									<span class="help-block"> <strong></strong>
									</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button id="btnSubmit" type="submit" class="btn btn-primary">Cập nhật</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div th:if="${success}"
                 class="row alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:text="${success}"></span>
            </div>
            <div th:if="${error}"
                 class="row alert alert-error alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:text="${error}"></span>
            </div>
        </div>
    </div>
</div>
<footer th:replace="master::footer"></footer>

</body>
</html>