<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="master::head"></th:block>
    <link th:href="@{/css/updatepassword.css}" rel="stylesheet" type="text/css"/>
    <title>Setting</title>
</head>
<body>
<nav th:replace="master::header"></nav>
<div th:replace="master::modal_contact"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <th:block th:replace="setting::setting-menu"></th:block>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-2">
                    <b style="font-size: 20px">Profile</b>
                </div>
                <div class="col-lg-10">
                    <div class="horizontal-line"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="avatar">
                        <img th:src="@{${user.avatar}}"/>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form role="form" data-toggle="validator" class="form-horizontal" method="POST"
                          onsubmit="return check()" id="form-change-password" th:object="${user}"
                          th:action="@{/setting/password}" >
                        <div class="form-group">
                            <label for="inputPassword" class="col-md-4 control-label">Mật
                                khẩu hiện tại</label>
                            <div class="col-md-6">
                                <input th:field="*{password}" type="password" data-minlength="6" class="form-control"
                                       id="oldPassword" placeholder="Old Password" required="true" />
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-md-4 control-label">Mật
                                khẩu</label>
                            <div class="col-md-6">
                                <input th:field="*{newPassword}" type="password" data-minlength="6" class="form-control"
                                       id="inputPassword" placeholder="New Password" required="true"/>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordConfirm" class="col-md-4 control-label">Nhập
                                lại mật khẩu</label>

                            <div class="col-md-6">
                                <input type="password" class="form-control" id="inputPasswordConfirm"
                                       placeholder="Confirm" required="true"/>
                                <div class="help-block with-errors" id="message"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button id="btnSubmit" type="submit" class="btn btn-primary">Cập nhật</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div th:if="${success}"
                 class="row alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:text="${success}"></span>
            </div>
            <div th:if="${error}"
                 class="row alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:text="${error}"></span>
            </div>
        </div>
    </div>
</div>
<footer th:replace="master::footer"></footer>
<script type="text/javascript" th:src="@{/js/register.js}"></script>
<script type="text/javascript" th:src="@{/js/updatepassword.js}"></script>

</body>
</html>