.user-info {
  margin-top: 50px;
  border-left: 1px solid grey;
  .avatar {
    img {
      display: inline-block;
      flex-basis: 25%;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      padding: 10px;
    }
  }
}

.vertical-center {
  display: flex;
  align-items: center;
}

.main-content {
  background-color: white;
}

.relative-content {
  margin-top: 30px;
  background-color: white;
  height: 400px;
}

.vote {
  i {
    font-size: 50px;
  }
}

.button-trans{
  background-color: transparent;
  border: none;
}